/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.row.full-width{
  width: 100vw;
  margin-left: calc(-50vw + 50% - 8px) !important;
  position: relative;

  &>*{
	padding: 0;
  }
}

.bootstenberg-layout{
  background-repeat: no-repeat;
}
